@import "https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap";

:root{
    --color-green: #50fa7b;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background-color: #282a36;
    font-family: 'Roboto', sans-serif;
    color: white;
}
header{
    padding: 32px;
    border-bottom: 1px solid #333;
    background: rgba(0, 0, 0, 0.1);
}
header div{
    text-align: center;
}

.links {
    text-align: center;
}

.links a {
    color: white;
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 3px;
    margin: 0 16px;
    text-decoration: none;
}
.links a:hover {
    color:  #50fa7b;
    font-size: 35px;
    transition: color 700ms;
}

#wrapper img{
    width: 300px;
    border-radius: 150px 150px 150px 150px;
    background-color: rgb(255, 255, 255);
    border: 3px solid var(--color-green);
}

#wrapper{
    text-align: center;
    padding: 32px;
}

#wrapper h1{
    font-size: 42;
    line-height: 52px;
    font-weight: bold;
}

#wrapper h2{
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    margin-top: 8px;
}

#wrapper p {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 5px;
    line-height: 34px;
}

#links-footer a{
    text-decoration: underline;
    font-size: 15px;
    font-weight: bold;
}
